img {
    width: 150px;
    border-style: double; border-width: 5px;
    padding-bottom: 0px;
  }
body {
  text-align: center;
  font-family: "Autour One", "Trebuchet MS"; font-size:medium;
}
h1 {
  border-style: double; border-width: 5px;
}
p1 {
  font-size: x-small;
  padding-top: 0px;
  padding-bottom: 0px;
}
p9 {
  font-size: smaller;
}